@media (width: 1920px) and (height: 1080px) {
  nav.bh-navbar {
    padding-top: 42px;
    background: #1e1e1e;
  }
  p.main-banner-p {
    color: #e9e3dc;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 150.088px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%;
    letter-spacing: -2.142px;
    text-transform: uppercase;
  }
  img.bh-property-1-default {
    width: 1339px;
    height: 478px;
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 93%;
    left: 14%;
  }
}

/* Media query for 14-inch laptops with a resolution of 1366x768 (or similar) */
@media (max-width: 1366px) and (max-height: 768px) {
  img.menu-fries-bh {
    width: 546px;
    height: 681px;
  }
  .container.svff-menu {
    width: 386px;
    border-radius: 30px;
    background: #1e1e1e;
    padding-top: 43px;
    position: relative;
    top: -213px;
    left: -41px;
    padding-left: 47px;
    padding-bottom: 40px;
  }
  img.bh-property-2-default {
    width: 1339px;
    height: 436px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -374px;
    left: 0%;
    z-index: 9999 !important;
  }
  .about-section-bh {
    background: #1e1e1e;
    height: 64vh;
    margin-bottom: 0;
  }
  .menu-section {
    background: #1e1e1e;
    z-index: 1000;
    position: relative;
    /* top: -64px; */
    height: 97vh;
}
}

/* Media query for 14-inch laptops with a resolution of 1920x1080 (Full HD) */
@media (max-width: 1920px) and (max-height: 1080px) {
}

/* Media query for 14-inch laptops with a resolution of 2560x1440 (2K) */
@media (max-width: 2560px) and (max-height: 1440px) {
}

/* RESPONSIVE MOBILE FIXES */

@media only screen and (max-width: 767px),
  only screen and (max-device-width: 767px) {
  .container-fluid.main-banner-bh {
    background: #1e1e1e;
    padding-top: 74px;
    position: unset;
  }
  .logo.bh-logo a {
    font-size: 21px;
  }
  p.main-banner-p {
    font-size: 52.088px;
  }
  img.bh-property-1-default {
    width: 347px;
    height: 160px;
  }
  p.about-bh-p-6 {
    color: #1e1e1e;
    font-family: "Bowlby One", sans-serif;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%;
    letter-spacing: -1.4px;
    text-transform: uppercase;
    padding-left: 35px;
    padding-top: 51px;
    padding-bottom: 95px;
  }
  p.about-bh-p-2 {
    color: #1e1e1e;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%;
    letter-spacing: -0.48px;
    text-align: center;
    padding-right: 5px;
    padding-top: 39px;
  }
  img.bh-property-2-default {
    width: 370px;
    height: 159px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -282px;
    left: 0%;
    z-index: 9999 !important;
  }
  .menu-section {
    background: #1e1e1e;
    z-index: 1000;
    /* position: relative; */
    /* top: -64px; */
    height: 134vh;
  }
  .card {
    height: 64vh;
  }

  .container.svff-menu {
    width: 307px;
    border-radius: 30px;
    background: #1e1e1e;
    padding-top: 43px;
    position: relative;
    top: -213px;
    left: 0px;
    padding-left: 47px;
    padding-bottom: 40px;
  }
  img.menu-fries-bh {
    width: 100%;
    height: 486px;
  }
  h4.svff-h4 {
    color: #e9e3dc;
    font-family: "Bowlby One", sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%;
    text-transform: uppercase;
  }
  p.svff-p {
    color: #b3a0cd;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%;
    text-transform: uppercase;
  }
  h2.bh-cta-text {
    width: 100%;
    color: #d1ef53;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 52.088px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%;
    letter-spacing: -2.142px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 52px;
  }
  h2.bh-cta-text {
    width: 100%;
    color: #d1ef53;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 52.088px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%;
    letter-spacing: -2.142px;
    text-transform: uppercase;
    margin: 0;
  }
  img.ct-rec-21 {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .customer-testimonal {
    background: #1e1e1e;
    padding-top: 0px;
  }
  img.vec-left-21 {
    position: relative;
    top: -102px;
    left: -10px;
    width: 22%;
  }
  .bh-cta {
    background: #1e1e1e;
    position: relative;
    top: 1px;
  }
  .customer-testimonal-side {
    background: #1e1e1e;
    padding-top: 60px;
    position: relative;
    height: 19vh;
    top: 3px;
  }
  h2.smm-service-h2 {
    color: #e9e3dc;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 52.088px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.896%;
    text-transform: uppercase;
  }
  img.vec-left-22 {
    display: none;
  }
  .customer-testimonal-right {
    background: #1e1e1e;
    padding-top: 0px;
    position: unset;
    height: 0vh;
    display: none;
  }
  footer.bh--footer {
    background: #1e1e1e;
    padding: 50px 15px;
  }
  h2.footer__widget--title {
    padding-top: 0px;
  }
  .footer__logo {
    padding-top: 76px;
    padding-bottom: 38px;
  }
  .footer__bottom--inenr.d-flex.justify-content-between.align-items-center {
    padding-bottom: 38px;
    display: flex !important;
    flex-direction: column;
  }
  .newsletter__subscribe.footer__newsletter {
    padding-top: 10px;
  }
  .footer__bottom {
    padding-top: 15px;
  }
}

@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3b3c;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
    z-index: 9999;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    background: #3a3b3c;
  }
  .content .row header {
    font-size: 19px;
  }
}
